.featurette-image {
    width: 14rem;
    height: 14rem;
    display: block;
}

.jumbotron-link {
    color: white;
}

.jumbotron-link:hover {
    color: #004445;
}

.chart-container {
    margin: 2rem 0;
    min-width: 100%;
    height: auto;
}

.form-div {
    width: 20rem;
}

.featurette > form {
    margin: 5rem 0;
}

.form-div > .featurette-divider {
    margin: 3rem 0;
}

.mycoolerror {
    color: red;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 48em) {
    .featurette-image {
        margin-top: 2rem;
        min-width: 100%;
        height: auto;
    }
}

@media (max-width: 62em) {
    .featurette-image {
        min-width: 100%;
        height: auto;
    }
}