<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <div class="container">
            <span class="text-muted small">©Ondřej Kycelt, Martin Polreich</span>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="webjars/popper.js/1.11.1/dist/umd/popper.min.js"></script>
        <script src="webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </div>
</html>