<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>quoll: dashboard</title>
    <div th:replace="fragments/header :: header-css"></div>
    <link th:href="@{/css/dashboard.css}" href="/css/dashboard.css" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/Chart.js}" src="/js/Chart.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Dashboard</h1>
        <p class="lead">This is your main page, where you can find everything important.</p>
    </div>
    <div class="alert alert-warning" role="alert" th:if="${user.socionicsResult==null}">
        You have not taken your socionics test yet. <a href="/user/test" class="alert-link">Click here</a> to take the test.
    </div>

    <h2 class="text-muted">This is what quoll found for you...</h2>
    <th:block th:each="matchedUser : ${matchedUsers}">
        <hr class="featurette-divider"/>

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 th:text="${matchedUser.getUsername()}"></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.</p>
                <p class="chart-container" style="position: relative; height:20vh; width:20vw">
                    <canvas id="myChart"></canvas>
                    <script th:inline="javascript">
                        var ctx = document.getElementById("myChart");
                        var ev = [[${matchedUser.getSocionicsResult().getExtrovertValue()}]];
                        var sv = [[${matchedUser.getSocionicsResult().getSensingValue()}]];
                        var tv = [[${matchedUser.getSocionicsResult().getThinkingValue()}]];
                        var pv = [[${matchedUser.getSocionicsResult().getPerceivingValue()}]];
                        var myChart = new Chart(ctx, {
                            type: 'radar',
                            data: {
                                labels: ["Extrovert", "Sensing", "Thinking", "Perceiving", "Introvert", "Intuitive", "Feeling", "Judging"],
                                datasets: [{
                                    label: 'User results',
                                    data: [ev, sv, tv, pv, 1-ev, 1-sv, 1-tv, 1-pv],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)'
                                    ],
                                    borderWidth: 1
                                }]
                            }
                        });
                    </script>
                </p>
            </div>
            <div class="col-md-5 order-md-1" th:if="${matchedUser.getSex() == 'Male'}">
                <img class="featurette-image img-fluid rounded-circle ml-auto" src="/img/avatar_male.png"
                     alt="Generic placeholder image"/>
            </div>
            <div class="col-md-5 order-md-1" th:if="${matchedUser.getSex() == 'Female'}">
                <img class="featurette-image img-fluid rounded-circle ml-auto" src="/img/avatar_female.png"
                     alt="Generic placeholder image"/>
            </div>
        </div>

<!--        <div class="row featurette" th:if="${iter.even}">
            <div class="col-md-7">
                <h2 th:text="${matchedUser.getUsername()}"></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid rounded-circle mr-auto" src="/img/avatar_female.png"
                     alt="Generic placeholder image"/>
            </div>
        </div>-->
    </th:block>
    <hr class="featurette-divider"/>
</main>

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>