<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header-css"/>
    <title>quoll</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>What is Quoll?</h1>
        <p class="lead">Are you struggling to find the right one? Quoll is here to help you find a partner who you are
            going to have a big chance to have a happy and long-lasting relationship with. All you need to do is tell us
            a few things about yourself and quoll will take care of the rest. Interested?</p>
        <a class="btn btn-lg btn-primary" href="/registration" role="button">Join now</a>
    </div>

    <p class="lead">Not conviced yet? Read some of the stories below.</p>

    <hr class="featurette-divider" id="first-featurette-divider"/>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">A few weeks later, I went for the first date</h2>
            <p class="lead">I've never really been a social type so meeting somebody new wasn't easy for me.
            At one point, I was really depressed and fed up with life. Then I chanced upon quoll and decided to give it
            a shot. A few weeks later, I went for the first date with a woman I am now married to.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded-circle" src="/img/profile1.png"
                 alt="Generic placeholder image"/>
        </div>
    </div>

    <hr class="featurette-divider"/>

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Thanks to quoll, I've found the nicest guy under the sun</h2>
            <p class="lead">Being so far away from home I was having difficulties finding somebody to go out with.
            Then one of my colleagues told me about quoll so I decided to try it. Thanks to quoll, I've found
            the nicest guy under the sun.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded-circle" src="/img/profile2.jpg"
                 alt="Generic placeholder image"/>
        </div>
    </div>

    <hr class="featurette-divider"/>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Quoll helped me find the one</h2>
            <p class="lead">Being busy working I had little time to go out and chase guys. Quoll helped me find the
            one I want the spend the rest of my life with.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded-circle" src="/img/profile3.jpg"
                 alt="Generic placeholder image"/>
        </div>
    </div>

    <hr class="featurette-divider"/>


</main>

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>