<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>quoll: messages</title>
    <div th:replace="fragments/header :: header-css"></div>
    <link th:href="@{/css/messages.css}" href="/css/messages.css" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/momentjs/2.20.1/moment.js}" src="/webjars/momentjs/2.20.1/moment.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Messages</h1>
        <p class="lead">Here you can browse through all your conversation threads.</p>
    </div>

    <hr class="featurette-divider"/>

    <label class="text-muted" th:if="${#lists.size(contacts) < 1}">You have no messages.</label>

    <th:block th:each="contact : ${contacts}">
        <div class="contact-div d-flex align-items-center flex-row" th:onclick="'location.href=\'/messages/' + ${contact.id} + '\''">
            <div class="p-2" th:if="${contact.sex == 'Male'}">
                <img class="featurette-image img-fluid rounded-circle" src="/img/avatar_male.png"
                     alt="Generic placeholder image"/>
            </div>

            <div class="p-2" th:if="${contact.sex == 'Female'}">
                <img class="featurette-image img-fluid rounded-circle" src="/img/avatar_female.png"
                     alt="Generic placeholder image"/>
            </div>

            <div class="p-2">
                <p><b th:text="${contact.username}"></b></p>
                <small class="text-muted">
                    <script th:inline="javascript">
                        var message = [[${lastMessages[__${contact.id}__]}]];
                        var dateTime = message.dateTime;
                        document.write(moment(dateTime).calendar());
                    </script>
                </small>
                <small th:if="${lastMessages[__${contact.id}__].sender.id == user.id}">You: </small>
                <small>
                    <script th:inline="javascript">
                        var message = [[${lastMessages[__${contact.id}__]}]];
                        document.write(message.content.substr(0, 50))
                        if (message.content.length > 50) {
                            document.write('...');
                        }
                    </script>
                </small>
            </div>
        </div>
    </th:block>

    <hr class="featurette-divider"/>

</main>

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>