<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header-css"/>
<title>quoll</title>
<!--TODO Vyresit Title-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Messages</h1>
        <p class="lead"></p>
    </div>
    <div class="container message-container">
        <th:block th:each="message : ${messages}">
            <a th:href="@{'/messages/' + ${message.getSender().getId()}}">
                <p th:if="${message.isMessageRead()} == false" th:class="message-p-unread">
                    Sender: <span class="message-sender" th:text="${message.getSender().getUsername()} "></span><br>
                    Date: <span class="message-date" th:text="${message.getDateTime()}"></span><br>
                    Message: <span class="message-content" th:text="${message.getContent()}"></span><br>
                </p>
                <p th:if="${message.isMessageRead()} == true" th:class="message-p">
                    Sender: <span class="message-sender" th:text="${message.getSender().getUsername()} "></span><br>
                    Date: <span class="message-date" th:text="${message.getDateTime()}"></span><br>
                    Message: <span class="message-content" th:text="${message.getContent()}"></span><br>
                </p>
            </a>
        </th:block>
    </div>
</main>

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>