<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>quoll: registration</title>
    <div th:replace="fragments/header :: header-css"></div>
    <!--<link th:href="@{/css/registration.css}" href="/css/registration.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div layout:fragment="content" th:remove="tag"></div>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Registration</h1>
        <p class="lead">In order to join quoll, please tell us a few basic things about yourself.</p>
    </div>
</main>

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>