<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>quoll: registration</title>
    <div th:replace="fragments/header :: header-css"></div>
    <link th:href="@{/css/registration.css}" href="/css/registration.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div layout:fragment="content" th:remove="tag"></div>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Registration</h1>
        <p class="lead">In order to join quoll, please tell us a few basic things about yourself.</p>
    </div>
    <form>
        <div class="form-div m-auto">
            <div class="form-group m-auto">
                <label class="col-form-label">Username</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username"/>
            </div>
            <div class="form-group m-auto">
                <label class="col-form-label">Date of birth</label>
                <input type="date" class="form-control" id="formGroupExampleInput3" placeholder="dd/MM/yyyy"/>
                <small id="birth-date-help" class="form-text text-muted">Your date of birth will be used for internal purposes only. It will not be visible to other users unless you specify otherwise.</small>
            </div>
        </div>
        <hr class="featurette-divider"/>
        <div class="form-div m-auto">
            <div class="form-group">
                <label for="country">Country</label>
                <select class="custom-select form-control" id="country">
                    <option selected="selected" disabled="disabled">Please select country</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <select class="custom-select form-control" id="state" disabled="disabled">
                    <option selected="selected" disabled="disabled">Please select state</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="region">Region</label>
                <select class="custom-select form-control" id="region" disabled="disabled">
                    <option selected="selected" disabled="disabled">Please select region</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="province">Province</label>
                <select class="custom-select form-control" id="province" disabled="disabled">
                    <option selected="selected" disabled="disabled">Please select province</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <hr class="featurette-divider"/>
        <div class="form-div m-auto">
            <div class="form-group m-auto">
                <label class="col-form-label">E-mail</label>
                <input type="email" class="form-control" id="formGroupExampleInput4" placeholder="E-mail"/>
            </div>
            <div class="form-group m-auto">
                <label class="col-form-label">Password</label>
                <input type="password" class="form-control" id="formGroupExampleInput5" placeholder="Password"/>
            </div>
            <div class="form-group m-auto">
                <label class="col-form-label">Repeat password</label>
                <input type="password" class="form-control" id="formGroupExampleInput6" placeholder="Repeat password"/>
            </div>
        </div>
        <hr class="featurette-divider"/>
        <div class="form-div m-auto">
            <small class="text-muted">Quoll will never share your personal information with any third party.</small><br/>
            <input class="btn btn-primary" type="submit" value="Submit" style="margin-top: 1rem"/>
        </div>
        <hr class="featurette-divider"/>
    </form>
</main>

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
<!--<div th:replace="fragments/footer :: footer"></div>-->
<!--<footer class="footer">-->
    <!--<div class="container">-->
        <!--<span class="text-muted small">©Ondřej Kycelt, Martin Polreich</span>-->
    <!--</div>-->
<!--</footer>-->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/popper.js/1.11.1/dist/umd/popper.min.js"></script>
<script src="webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<script>
    $("#country").change(function() {
        $.get("/registration/nuts1", function(data) {
            alert(data);
            $("#state").prop("disabled", false);
        });
    });
    $("#state").change(function() {
        alert("Handler for state change called.");
        $("#region").prop("disabled", false);
    });
    $("#region").change(function() {
        alert("Handler for region change called.");
        $("#province").prop("disabled", false);
    });
    $("#province").change(function() {
        alert("Handler for province change called.");
    });
</script>

</body>
</html>